@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

:root {
  /* Primary Colors */
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);

  /* Neutral Colors */
  --color-black: hsl(212, 21%, 14%);
  --color-grey: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

main {
  background-color: var(--color-cream);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.75rem;
  width: 50%;
}

.category,
.description {
  font-weight: 100;
  color: var(--color-grey);
}

.price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.current-price {
  font-family: "Fraunces", sans-serif;
  color: var(--color-green-500);
  font-size: 2rem;
  font-weight: 700;
}

.original-price {
  text-decoration: line-through;
  color: var(--color-grey);
}

.add-to-cart {
  padding: 1.25rem;
  border-radius: 10px;
  border: none;
  background-color: var(--color-green-500);
  color: var(--color-white);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.add-to-cart:hover {
  background-color: var(--color-green-700);
  cursor: pointer;
}

.cart-icon {
  width: 1.2rem;
}

p {
  line-height: 1.5;
}

.card-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
}

@media (max-width: 600px) {
  main {
    padding: 0.5rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .card {
    flex-direction: column;
    width: 100%;
  }

  .card-content {
    width: 100%;
    gap: 1.75rem;
  }

  .card-image {
    width: 100%;
    height: 300px;
  }
}
